@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {
  font-family: "Amatic SC", cursive;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/pizza.png");
  min-height: 90%;
}

.shade {
  filter: grayscale(50%);
}

.navbar {
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  background-color: rgba(37, 31, 31, 0.5);
  padding: 10px;
  position: sticky;
  top: 0;
}

.navbar:hover {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
  top: 0;
  bottom: 0;
  padding: 0 10px 0 10px;
}

a:hover {
  background-color: #f0ffff;
  color: #000;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  color: #fff;
}

ul li {
  padding-right: 30px;
}

.hero-text {
  font-size: 80px;
  text-align: center;
  color: #fff;
}

.hero-text h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hero-text>h1{
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.open-text {
  font-size: 30px;
  color: #fff;
  margin-bottom: 3rem;
  background-color: #000;
  width: 15%;
  padding: 10px;
}

.see-menu {
  border: none;
  background-color: #000;
  font-size: 50px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.see-menu:hover {
  background-color: #f0ffff;
  color: #000;
}

.hero-section {
  padding-bottom: 10px;
}

.menu {
  background-color: #000;
  padding: 1rem 10rem;
}

.menu-heading {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 50px;
  color: #fff;
}
.items {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.items ul {
  border-top: 1px solid #f0ffff;
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
}

.items ul li {
  width: 33.33%;
  text-align: center;
}

.items ul li:hover {
  background-color: #ff0000;
  /* padding-left: 10rem;
  padding-right: 10rem; */
}

.menu-item-description {
  background-color: #fff;
  padding: 2rem 1rem 2rem 1rem;
}

.menu-item-description p {
  font-size: 40px;
  width: 60%;
  color: #757575;
}

.menu-name b {
  font-size: 40px;
}

.menu-name span {
  float: right;
  background-color: #616161;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.about {
  background-color: #f44336;
  filter: grayscale(75%);
  color: #fff;
  padding: 3rem 1rem 3rem 1rem;
}

.about-heading {
  font-size: 50px;
  text-align: center;
  padding-bottom: 4rem;
}

.about-text {
  font-size: 25px;
}

.chef,
.proud {
  padding: 1rem;
  font-size: 25px;
}

.about img {
  width: 100%;
}

.hours {
  width: 49.99999%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 16rem;
}

.hr-heading {
  font-size: 30px;
  padding-bottom: 2rem;
}

.times {
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.times p {
  padding: 10px;
}

.map img {
  width: 100%;
}

.contact {
  background-color: #607d8b;
  padding: 1rem;
  color: #fff;
}

.contact-heading {
  font-size: 50px;
  text-align: center;
  padding: 3rem 0 3rem 0;
}

.text p {
  padding: 20px;
  font-size: 25px;
}

.text p span {
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.text .last-msg {
  font-size: 35px;
}

form input,
form button {
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  font-size: 30px;
}

form button {
  width: 93%;
}

footer {
  text-align: center;
  font-size: 30px;
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

.salads,
.starter {
  display: none;
}

.menu,
.about,
.contact {
  padding-left: 6rem;
  padding-right: 6rem;
}

hr {
  border: 0.5px solid rgb(241, 238, 238);
}

@media screen and (max-width: 1450px) {
  .open-text {
    width: 20%;
    text-align: center;
  }
}

@media screen and (max-width: 1260px) {
  .hours {
    padding-left: 14rem;
  }
}

@media screen and (max-width: 1060px) {
  .hours {
    padding-left: 12rem;
  }
}

@media screen and (max-width: 960px) {
  .hours {
    padding-left: 8rem;
  }
}

@media screen and (max-width: 608px) {
  .hours {
    padding-left: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .open-text {
    width: 60%;
    font-size: 20px;
    margin-bottom: 0;
  }

  .see-menu {
    font-size: 30px;
  }

  .menu,
  .about,
  .contact,
  .hours {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hours {
    width: 90%;
  }

  .hero-text h1 {
    margin-bottom: 1rem;
  }

  .navbar {
    font-size: 20px;
  }
  .items ul {
    font-size: 40px;
  }
}
